<!-- Styles -->
    <style>
    body {
        background-image: url('../res/backgroung.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
    </style>
    
    <!-- Resources -->
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/navbar.js"></script>
    <!-- Chart code -->
    <script>

     
    </script>
    
    <!-- HTML -->

    <div id="navbar" class="navbar">
      <a id="home" href="#">Home</a>
      <a id="heatmap" href="#">Heatmap</a>
      <a id="everageheat" href="#">Everage Heat</a>
      <a id="timeheat" href="#">Heat-Time Graph</a>
      <a id="table" href="#">Table</a>
      <a id="sim" href="#">Simulation</a>
       
      <div class="subnav">
        <button class="subnavbtn">Sessions<i class="fa fa-caret-down"></i></button>
        <div id="sessions" class="subnav-content">
          
        </div>
      </div> 
      
      
      <a id="createNewUser" href="#">Create New User</a>
      <a id="login" href="#">Login</a>
      <a id="logout" href="#">Logout</a>
      <input placeholder="User Password" type="password" id="userPassword"/>
      <input placeholder="User Name" type="text" id="userName"/>
    
    </div>
  